:root {
    --background: rgb(245, 236, 228);

    --background-button: rgb(90, 81, 101);
    --background-button_hover: rgb(124, 112, 139);

    --color-button-play: rgb(151, 151, 151);
    --color-button-play-hover: rgb(203, 141, 229);
    --color-button-play-warn: rgb(255, 99, 99);

    --selector-color: rgb(151, 151, 151);
    --selector-color-hover: rgb(181, 181, 181);
    --selector-border-color: rgba(147, 147, 147, 0.333);
    --selector-border-color-hover: rgb(147, 147, 147);

    --back-b: rgb(71, 64, 79);
    --panel-background: rgba(255, 208, 0, 0);
    --border: rgba(121, 0, 123, 0.9);
    --border-hover: rgba(121, 0, 123, 0.5);
    --color: rgb(66, 66, 66);
    --b-color: rgba(208, 208, 208, 0.9);
    --b-color-hover: rgb(118, 118, 118);
    --scrollbar-color: rgba(121, 0, 123, 0.9) rgba(0, 0, 0, 0);
    --pulse-shadow-1: rgba(255, 255, 255, 0.1);
    --pulse-shadow-2: rgba(255, 255, 255, 0.6);
    --b-play: rgba(121, 0, 123, 0.9);
    --b-play-back: rgb(255, 246, 255);
    --pulse-b-play-0: rgb(203, 141, 229);
    --pulse-b-play-80: rgba(203, 141, 229, 0.5);
    --pulse-b-play-100: rgba(203, 141, 229, 0.75);
    --pop-color: rgba(202, 202, 202);

    --svg-play: url('data:image/svg+xml,<svg fill="%23cb8de5" height="28px" width="28px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 330 330" xml:space="preserve"><path id="XMLID_308_" d="M37.728,328.12c2.266,1.256,4.77,1.88,7.272,1.88c2.763,0,5.522-0.763,7.95-2.28l240-149.999c4.386-2.741,7.05-7.548,7.05-12.72c0-5.172-2.664-9.979-7.05-12.72L52.95,2.28c-4.625-2.891-10.453-3.043-15.222-0.4C32.959,4.524,30,9.547,30,15v300C30,320.453,32.959,325.476,37.728,328.12z"/></svg>');
    --svg-stop: url('data:image/svg+xml,<svg fill="%23cb8de5" width="28px" height="28px" viewBox="0 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M5.92 24.096q0 0.832 0.576 1.408t1.44 0.608h16.128q0.832 0 1.44-0.608t0.576-1.408v-16.16q0-0.832-0.576-1.44t-1.44-0.576h-16.128q-0.832 0-1.44 0.576t-0.576 1.44v16.16z"></path></svg>');
}
.dropev{
       display: none; 
}
body{
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0);
    font-size: 22px;

}
button{
    font-size: 22px;
}
.page-content{
    position: relative;
    height: 100vh;
    overflow: hidden;
}
textarea{
    position: relative;
    margin: 0px;
    width: calc(100% - 32px);
    height: calc(100vh - 119px);
    resize: none;
    font-size: 9px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 50px;
    background-color: var(--background);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: solid 1px;
    border-color: var(--b-color);
    border-bottom: 0;
    color: var(--color);
    transition: all 0.5s ease;
    scrollbar-color: var(--scrollbar-color);
    z-index: 1;
    &:hover {
        outline: none;
    }
    &:focus {
        outline: none;
    }
}
.box-panel{
    display: block;
    position: relative;
    z-index: 3;
}
.back{
    display: block;
    position: absolute;
    height: 64px;
    width: calc(100% - 2px);
    z-index: 2;
    margin-top: -10px;
    /* border-top-left-radius: 15px;
    border-top-right-radius: 15px; */
    border: solid 1px;
    background-color: var(--back-b);
    border-color: var(--b-color);
    border-top: 0;
    border-bottom: 0;
}
.boxButton{
    z-index: 4;
    display: block;
    position: absolute;
    padding-bottom: 0px;
    padding-right: 0px;
    border: solid 4px;
    margin-left: 10px;
    margin-top: -32px;
    width: 70px;
    height: 70px;
    font-size: 32px;
    justify-content: center;
    align-items: center;
    border-radius: 35px;
    color: var(--color-button-play);
    cursor: pointer;
    transition: all 0.5s ease;
    background-color: var(--background-button);
    border-color: var(--back-b);
    &:hover{
        color: var(--color-button-play-hover);
        background-color: var(--background-button_hover);
    }
}
.warning{
    display: none;
    position: absolute;
    width: 130px;
    height: 40px;
    font-size: 22px;
    bottom: 0px;
    left: calc(50% - 65px);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: var(--back-b);
    color: var(--selector-color);
    justify-content: center;
    align-items: center;
    text-align: center;
    text-align-last: center;
    text-indent: 0;
}
@-webkit-keyframes pulse{
    0%{
        box-shadow:0 0 0 0 var(--pulse-shadow-1);
        box-shadow:0 0 0 0 var(--pulse-shadow-2);
        color: var(--pulse-b-play-0);
    }
    80%{color: var(--pulse-b-play-80);
        box-shadow:0 0 0 14px transparent
    }to{
        box-shadow:0 0 0 0 transparent
    }
    100%{color: var(--pulse-b-play-100);}
}
@keyframes pulse{
    0%{
        box-shadow:0 0 0 0 var(--pulse-shadow-1);
        box-shadow:0 0 0 0 var(--pulse-shadow-2);
        color: var(--pulse-b-play-0);
    }
    80%{color: var(--pulse-b-play-80);
        box-shadow:0 0 0 14px transparent
    }to{
        box-shadow:0 0 0 0 transparent
    }
    100%{color: var(--pulse-b-play-100);}
}
@-webkit-keyframes spin{
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes spin{
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.boxButton_tts{
    &:after{content: var(--svg-play);}
}
.state-invalid{
    &:after{content: var(--svg-play);}
}
.state-loading{
    color: var(--color-button-play-hover);
    border: 2px dashed var(--color-button-play-hover);
    animation: spin 2s linear infinite;
    &:after{line-height: 0;font-size: 42px;content: "❍";}
}
.state-playing{
    box-shadow:0 0 0 transparent;
    -webkit-animation:pulse 1.8s infinite;
    animation:pulse 1.8s infinite;
    
    &:after{content: var(--svg-stop);margin-right: 5px;}
}
.selector-models,
.selector-speed,
.selector-emotion{
    display: block;
    position: relative;
    float: right;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: solid 1px;
    border-color:  var(--selector-border-color);
    border-top: 0;
    border-left: 0;
    border-right: 0;
    justify-content: center;
    align-items: center;
    line-height: 1;
    font-size: 22px;
    color: var(--selector-color);
    cursor: pointer;
    transition: all 0.5s ease;
    background-color: rgba(0, 0, 0, 0);
    z-index: 9;
    &:hover{
        color: var(--selector-color-hover);
        border-color: var(--selector-border-color-hover);
    }
    &::-ms-expand{display: none;}
}
.selector-models{
    margin-right: 15px;
    width: 140px;
    height: 40px;
}
.selector-speed{
    margin-right: 15px;
    width: 43px;
    height: 40px;
}
.selector-emotion{
    margin-right: 15px;
    width: 40px;
    height: 40px;
}
select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-align: center;
    text-align-last: center;
    text-indent: 0;
}




@media only screen and (min-width: 720px) {
    body{
        background-color: rgba(116, 102, 91, 0.1);
    }
    textarea{
        font-size: 14px;
    }
    .page-content{
        margin: 0 auto;
        width: 720px;
        
    }
    .boxButton{
        margin-left: 30px;
    }
    .selector-models{
        width: 240px;
    }

}
@media only screen and (max-width: 400px) {
    .selector-models{
        margin-right: 5px;
        width: 120px;
    }
    .selector-emotion{
        margin-right: 5px;
    }
    .selector-speed{
        margin-right: 5px;
    }
    .boxButton{
        margin-left: 8px;
    }

}
@media only screen and (max-height: 150px) {
    textarea{
        opacity: 0;
        height: calc(100vh - 95px);
    }
    .back{
        border-top: var(--b-color) solid 1px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
    .warning{
        opacity: 0;
    }
    .dropev{
        margin: 5px;
        position: absolute;
        display: flex;
        width: calc(100% - 14px);
        height: calc(100% - 50px);
        z-index: -1;
        border: dashed 2px var(--selector-border-color);
        border-radius: 10px;
        color: rgba(233, 233, 233, 0.7);
        text-align: center;
        text-align-last: center;
        justify-content: center;
        align-items: center;
        font-size: 22px;
        /* text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5); */
        -webkit-text-stroke: 1px rgba(132, 132, 132, 0.7);
        background-color: rgba(0, 0, 0, 0);
    }
    .back{
        height: 38px;
    }
    .selector-speed,
    .selector-emotion,
    .selector-models{
        margin-top: -6px;
        height: 30px;
    }
    .boxButton{
        width: 60px;
        height: 60px;
        margin-top: -32px;
    }
}
